<h1>Browse Properties</h1>

<div class="pb-3 pt-2 bg-dark text-center text-white">
<div class="display-6 pb-2"> Featured Places </div>
</div>

<!-- Carousel of Properties (Title)-->
<section class="pt-5 pb-5">
    <div class="container">
      <div class="row">

            <!-- Title -->
            <div class="col-6">
                <h3 class="mb-3"> Featured Properties </h3>
            </div>

            <!-- Arrow Buttons -->
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>

            <!-- Carousel -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">

                <!-- Set 1 -->
                <div class="carousel-item active">
                    <div class="row container d-flex flex-wrap justify-content-around">

                    <div class="col-md-4 mb-3"> <!-- Property 1 -->
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://images.pexels.com/photos/1732414/pexels-photo-1732414.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                            <div class="card-body">
                                <h4 class="card-title">Property 1</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="details" class="btn btn-primary py-2 px-3">See details</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://images.pexels.com/photos/5524336/pexels-photo-5524336.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                            <div class="card-body">
                                <h4 class="card-title">Property 1</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="details" class="btn btn-primary py-2 px-3">See details</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="img-fluid" alt="100%x280" src="https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                            <div class="card-body">
                                <h4 class="card-title">Property 1</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="details" class="btn btn-primary py-2 px-3">See details</a>
                            </div>
                        </div>
                    </div>

                </div>
                </div>

                <!-- Set 2 -->
                <div class="carousel-item">
                <div class="row container d-flex flex-wrap justify-content-around">

                <div class="col-md-4 mb-3"> <!-- Property 1 -->
                    <div class="card">
                        <img class="img-fluid" alt="100%x280" src="https://images.pexels.com/photos/1732414/pexels-photo-1732414.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                        <div class="card-body">
                            <h4 class="card-title">Property 1</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="details" class="btn btn-primary py-2 px-3">See details</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img class="img-fluid" alt="100%x280" src="https://images.pexels.com/photos/1732414/pexels-photo-1732414.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                        <div class="card-body">
                            <h4 class="card-title">Property 1</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="details" class="btn btn-primary py-2 px-3">See details</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img class="img-fluid" alt="100%x280" src="https://images.pexels.com/photos/1732414/pexels-photo-1732414.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                        <div class="card-body">
                            <h4 class="card-title">Property 1</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="details" class="btn btn-primary py-2 px-3">See details</a>
                        </div>
                    </div>
                </div>
                </div>

                </div>
              </div>
            </div>
      </div>
    </div>
</section>

<%= render "property/latest_property" %>

<div class="col-6">
  <% if user_signed_in? %>
    <h5 class="mb-3"> Add Property? <%= link_to "Click here", postings_path %> </h5>
  <% else %>
    <h5 class="mb-3"> Add Property? <%= link_to "Click here", new_user_session_path %> </h5>
  <%end%>
</div>
