<footer class=" pb-5"  style="background-color: #B7C18C;">
  <div class="container text-center"><br>
    <p class="font-italic mb-0">&copy; Copyrights RenTap.com All rights reserved.</p>
  </div>
</footer>
